body {
  background-color: #652467;
  background-image: url("images/computer 4.jpg");
  background-size: cover;
  color: #Fd8083;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h1 {
    position: relative;
    color: #ee39a9;
    font-style: bold;
    font-size: 280%;
    font-family: "Press_Start", Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 10px;
    word-wrap: break-word;
}

h2 {
    font-family:'Coral_Pixels', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ee39a9;
}

h3 {
    color: #498099;
    font-family: "Coral_Pixels.", cursive;
    font-size: small;
    margin-top: -20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #381d2a;
    padding: 15px 0px 17px 2px;
}

/* topbar and navtab are all for topbar control.*/
.topbar {
    position: fixed;
    list-style-type: none;
    width: fit-content;
    border-width: 2px;
    border-color: #fc6bdf;
    background-color: #1b5ace;
    border-style: solid;
    margin: 0;
    padding: 0;
}

.navtab {
    float: left;
    font-family: 'VT', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: #Fd8083;*/
    color: #8120b2;
    cursor: pointer;
    padding: 0 10px;
}

.navtab a {
    text-decoration: none;
    color:#fc6bdf;
    display: block;
    text-align: center;
}

.navtab a:hover {
  letter-spacing: 2px;
  background-color: #01003b;
  border-width: 20px;
  color: #fb00e2;
  animation-name: anim;
  animation: ease-in-out 1s infinite alternate;
}



.page-buttons {
    justify-content: left;
}

#pfp {
    position: relative;
    max-width: 50px;
    width: fit-content;
    height: auto;
    margin: 10px;
    border-width: 3px;
    border-color: #df57d4;
    border-style: solid;
}

.profile-box {
  content: normal;
  margin-top: 60px;
  box-shadow: black 0 0 10px;
  border-width: 2px;
  border-color: #df57d4;
  border-style: solid;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.08);
  max-width: 80%;
  text-align: left;
}

.top-section{
    display: flex;
    background-color: #131b70;;
    margin: 0px;
}

#info {
  
  background: linear-gradient(to bottom, #131b70, #4e25a7);
  margin: 0px;
  padding: 16px;
  text-align: left;
}

.buttons-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 20px;
}

button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(255, 100, 53);
  border-width: 2px;
  border-color: #498099;
  border-style: solid;
  color: #3b0855;
  cursor: pointer;
  padding: 12px 18px;
}

@keyframes anim {
    0% {
        border-color: linear-gradient(to left, #336176, #30c0b7)
    }
    100% {
        border-color: linear-gradient(to right, #336176, #30c0b7)
    }
}

button:hover {
  border-width: 2px;
  background-color: #ff4dc7;
  color: #3b22e0;
  border-color: #10bfbc;
  animation-name: anim;
  animation: ease-in-out 1s infinite alternate;
}


.sidePicture {
    justify-self: start;
}


#video {
    display: none;
    border-style: none;
    justify-content: center;
    width: 400px;
    height: 225px;
}

.ifp {
    background-color: lightgrey;
    border-radius: 5px;
    border-style: none;
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
}

.ifp:hover {
    background-color: white;
    box-shadow: 0px 0px 10px white;
}

.linkedin {
    display: none;
}

#openDialogue {
    font-size: 100%;
    border-color: #fc6bdf;
    border-width: 4px;
    background-color: #30c0b7;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#openDialogue:hover {
    /*border-color: #381d2a;*/
    background-color: #Fd8083;
    border-color: blue;
}

#dialog-box {
    display: none;
    background-color:#6551e6;
    border-color:#30c0b7;
    border-width: 2px;
    border-style: solid;
    padding: 10px 10px 10px 10px;

    position: fixed;
    bottom: 90px;
    right: 30px;
    height: auto;
    width: 350px;
}

/*fonnt stuff */
@font-face {
    font-family: "Coral_Pixels";
    src: url("websitefonts/CoralPixels-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Press_Start";
    font-style: normal;
    src: url("websitefonts/PressStart2P-Regular.woff2");
}

@font-face {
    font-family: "VT";
    font-style: normal;
    src: url("websitefonts/VT323-Regular.woff2");
}